.footer__container{
    margin-top: auto;
    @apply flex justify-center items-center w-full xl:px-32 py-4;
}

.footer__content{
    @apply flex flex-col items-center md:flex-row justify-between w-full px-4 xl:px-0;
    border-width: 1px 0 0px;
    border-style: solid;
    border-color: #ffffff;

}

.footer__left{
    @apply flex flex-col gap-2 pt-4 items-center md:items-start;
}

.footer__left h3{
    @apply nexa-reg-16 text-white;
}

.footer__left p{
    @apply montserrat-reg-14;
    color: #ffffff;
}

.footer__left p a{
    text-decoration: underline;
}

.footer__left p a:hover{
    color: #F92032;
}

.footer__right {
    @apply flex;
}

.socials {
    @apply flex gap-4 text-white pt-4;
}

.socials a img{
    @apply w-[32px];
}